/**
 * Variables
 */

// Colours \\
$primary: rgb(252, 80, 80);
$secondary: blue;
$tertiary: green;
$white: #ffffff;

// Box Model \\
$spacer: 2rem;

// Responsive Break Points \\
$bp-480: 480;
$bp-600: 600;
$bp-768: 768;
$bp-1024: 1024;
$bp-1360: 1360;

$desktopPointerMQ: "(any-pointer: fine)";
$mobilePointerMQ: "(any-pointer: coarse)";
